<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Daily data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body id="home">

    <div class="content">
        <h1>Summary for {{ date }}</h1>
        <div class="happiness">
            <h2>Happiness</h2>
            <form class="form-daily" method="POST" action="" onsubmit="return submitForm(this);">
                <dl class="dl-horizontal">
                    <div id="happiness-level">
                        <dt>Happiness Level</dt>
                        <dd>                     
                            {% for score in scores %}
                                <div class="opt-radio">
                                    <input type="radio" id={{ score }} name="happy-level" value={{ score }} {{ 'checked' if data.level == (score | int) else '' }}/>
                                    <label for={{ score }}>{{ score }}</label>
                                </div>
                            {% endfor %}   

                        </dd>
                    </div>

                    <div id="happiness-reason">
                        <dt>Main reason for happiness</dt>
                        <dd>
                            {% for reason in reasons %}
                                <div class="opt-radio">
                                    <input type="radio" id={{ reason }} name="happy-reason" value={{ reason }} {{ 'checked' if data.happy_reason == reason else '' }}/>
                                    <label for={{ reason }}>{{ reason }}</label>
                                    {% if reason == 'other' %}
                                        <input class="radio-txt" type="text" name="other-happy" value={{ data.happy_reason_detail or ''}}>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </dd>
                    </div>

                    <div id="happiness-reason">
                        <dt>Main reason for unhappiness</dt>
                        <dd>   
                            {% for reason in reasons %}
                                <div class="opt-radio">
                                    <input type="radio" id={{ reason }} name="unhappy-reason" value={{ reason }} {{ 'checked' if data.unhappy_reason == reason else '' }}/>
                                    <label for={{ reason }}>{{ reason }}</label>
                                    {% if reason == 'other' %}
                                        <input class="radio-txt" type="text" name="other-unhappy" value={{ data.unhappy_reason_detail or ''}}>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </dd>
                    </div>
                </dl>

                <!-- <input class="form-control" type="text" required name="email" placeholder="Email address">
                <input class="form-control" type="password" required name="password" placeholder="Password">
                <label class="checkbox"></label> -->
                <button class="btn btn-primary btn-block" type="submit">Send</button>
            </form>
        </div>

        <div class="dozen">
            <h2>Daily dozen</h2>
            <form class="form-daily" method="POST" action="/insert/dozen">
                <div class="opt-radio">
                    <img src="{{ url_for('static', filename='imgs/beans.png') }}" alt="Beans" height="42" width="42">
                    <label for="beans">Beans</label>
                    <input type="checkbox" id="beans1" name="dozen" value="beans1" />
                    <input type="checkbox" id="beans2" name="dozen" value="beans2" />
                    <input type="checkbox" id="beans3" name="dozen" value="beans3" />
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            </form>
        </div>
    </div>

</body>
</html>